*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, #fff7c7, #ffffff);
    background-repeat: no-repeat;
}

.nh{
    background-color: #fef2ae;
    padding: 2px;
}

a{
    font-family: Arial, sans-serif;
    color: #230800;
    text-decoration: none;
    margin-left: 35px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

a:hover{
    color: #6a6969
}

a:active{
    color: #230800;
    text-decoration: none;
}


header{
    background-color: #f9ec9d;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    text-align: right;
}

h1{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 3.5px;
    color: #230800; 
    text-align: center;
}

p{
    font-family: Arial, sans-serif;
    font-size: 23px;
    text-align: center;
}

.row{
    width: 100%;
    max-width: 1000px;
    padding: 3px;
    margin: 15px auto;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #d2cda8;
}

.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #d2cda8;
}

.container{
    width: 100%;
    max-width: 1000px;
    padding: 3px;
    margin: 15px auto;
}

.box{
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px auto;
    width: 70%;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 15px #d2cda8;
    color: #230800; 
    text-align: center;
    padding: 5%;
}

table{
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 15px #d2cda8;
    color: #230800; 
    text-align: center;
    table-layout: fixed;

}

th{
    height: 60px;
}

td{
    color: #6a6969;
}

th, td{
    vertical-align: middle;
    padding: 2px;
}

tr{
    height: 50px;
}